body {
    font-family: Arial, sans-serif;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #f8f9fa;
    padding: 10px 0;
}

.carousel-inner img {
    width: 100%; /* Mantiene el ancho completo del contenedor */
    height: 400px;
    object-fit: cover;
}